<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Видео</title>
    <style>
        body {
            margin: 0;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        video {
            max-width: 100%;
            max-height: 100vh;
        }
    </style>
</head>
<body>
    <video src="video/1.mp4" controls autoplay></video>
    <video src="video/2.mp4" controls autoplay></video>
    <video src="video/3.mp4" controls autoplay></video>
    <video src="video/4.mp4" controls autoplay></video>
</body>
</html>